## Análise Gestão

In [2]:
from sklearn import datasets

iris = datasets.load_iris()

In [3]:
import os
import pandas as pd

HOME = os.getcwd()

iris = pd.read_csv(f'{HOME}/data/iris.csv')

In [4]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
kmedias = pd.read_csv(f'{HOME}/results/kmeans.csv')
kmedias

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.142,0.143,0.144,0.145,0.146,0.147,0.148,0.149,0.000108,
0,2,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.000149,
1,3,1,1,1,1,1,1,1,1,1,...,2,0,0,0,2,0,0,2,0.000360,
2,4,1,3,3,3,1,1,3,1,3,...,0,2,2,2,0,2,2,0,0.000270,
3,5,4,3,3,3,4,4,3,4,3,...,2,0,0,2,2,2,2,2,0.000712,
4,6,4,4,4,4,4,5,4,4,4,...,1,0,0,0,1,0,0,1,0.000358,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,146,90,48,135,116,93,143,77,17,118,...,56,1,83,55,7,122,115,125,0.002191,
145,147,22,6,128,76,120,1,5,13,14,...,53,105,77,23,63,19,87,124,0.002461,
146,148,100,60,74,58,134,34,56,19,108,...,27,109,6,4,38,105,7,137,0.002234,
147,149,3,36,80,59,107,126,23,143,103,...,69,136,11,104,1,125,65,37,0.002253,
148,150,125,23,40,143,87,71,55,140,135,...,52,113,142,79,91,83,27,144,0.001164,